:root {
  --primary-color: #f06543;
  --secondary-color: #9e2b25;
  --alternate-color: #f09d51;
  --light-color: #e0dfd5;
  --dark-color: #313638;
  --dark2-color: #1c1f20;
  --main-bg-color: var(--dark-color);
  --main-text-color: var(--light-color);
  --main-header-color: var(--primary-color);
  --main-link-color: var(--alternate-color);
  --main-link-alt-color: var(--secondary-color);
  --sidebar-color: var(--dark2-color);
}

html {
  min-height: 100%;
  position: relative;
  margin: 0;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  padding: 0;
  margin: 0;
  height: 100%;
}

h1, h2, h3 {
  color: var(--main-header-color);
}

a:link, a:visited {
  color: var(--main-link-color);
}

a:hover, a:active {
  color: var(--main-link-alt-color);
}

.main {
  /* display: inline; */
  content: "";
  clear: both;
  display: block;
  width: 100%;
  height: 100%;
}

.sidebar{
  float: left;
  width: 30%;
  background-color: var(--sidebar-color);
  min-width: 400px;
  top: 0;
  bottom: 0;
  position: absolute;
}

.info {
  text-align: right;
  margin: 30px 30px 0 10%;
}

#logo {
  max-width: min(100%, 400px);
  min-width: 200px;
}

.content {
  margin-left: max(30%, 400px);
  padding: 30px 20px 0 20px;
  float: left;
  width: 50%;
  max-width: max(100% - 40px);
}

.info-icons>a{
  padding: 10px;
  min-width: 20px;
  min-height: 20px;
  border-radius: 20px;
  background: var(--dark-color);
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  margin: 5px;
  text-decoration: none;
}
.info-icons>a:hover{
  background: var(--secondary-color);
  color: var(--light-color);
}
.content .info-icons>a{
  color: var(--light-color);
  background: var(--secondary-color);
}
.content .info-icons>a:hover{
  background: var(--alternate-color);
  color: var(--dark-color);
}

#paintings_list {
  margin: 5px;
  float: left;
  clear: both;
  width: 100%;
  padding: 0;
}

#paintings_list li {
  margin: 5px;
  padding: 0;
  border: 1px solid black;
  float: left;
  width: 250px;
  list-style: none;
  background: var(--dark2-color);
}

#paintings_list li img{
  max-width: 100%;
  height: auto;
}

#paintings_list li .name{
  padding: 5px;
  text-align: center;
  max-width: 100%;
}

footer{
  font-size: small;
}

@media only screen and (max-width: 900px) {
  .sidebar{
    width: 100%;
    position: relative;
  }

  .content {
    width: 100%;
    margin-left: 0;
  }
}
